.block-bedroom div:first-child {
  background: #adadad;
  margin-bottom: 20px;
  width: 288px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.block-bedroom div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  width: 288px;
  height: 201px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.block-bedroom-explore h1 {
  color: var(--secondary-orange);
  width: 149px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: normal;
}
.block-bedroom h2 {
  color: #fdfbf8;
  width: 235px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: normal;
}
.block-bedroom-explore span {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: #e0eff6;
  color: var(--primary-escuro);
  width: 150px;
  height: 53px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: normal;
}
.block-meeting div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #d9d9d9;
  width: 288px;
  height: 201px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.block-meeting div:first-child {
  background: #d9d9d9;
  margin-bottom: 20px;
  width: 288px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}
.block-meeting h1 {
  color: var(--secondary-orange);
  width: 235px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: normal;
}
.block-living div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #d9d9d9;
  width: 288px;
  height: 201px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.block-living div:first-child {
  background: #d9d9d9;
  margin-bottom: 20px;
  width: 288px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}
.block-living h1 {
  color: var(--secondary-orange);
  width: 235px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: normal;
}
