* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --primary-claro: #70908b;
  --primary-escuro: #07484a;
  --secondary-verde: #caf3e5;
  --secondary-cinza: #e0eff6;
  --secondary-rosa: #eeebff;
  --secondary-amarelo: #fff4e7;
  --secondary-orange: #fdfbf8;
  --border-primary: rgb(129, 128, 128);
}
body {
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.container {
  max-width: 320px;
  margin: 20px 0px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  align-items: center;
  background: var(--secondary-rosa);
}
.header-desktop {
  display: flex;
  gap: 30px;
}
.menu img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.title img {
  width: 100px;
}
.list li {
  list-style: none;
  cursor: pointer;
}
.list ul {
  display: flex;
  gap: 20px;
}
.list img {
  width: 21px;
}
.itens-container {
  background: var(--secondary-rosa);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-exclusive {
  display: flex;
  text-align: center;
  align-items: center;
  width: 288px;
  margin-top: 206px;
  font-family: "Playfair Display";
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  color: var(--primary-escuro);
}
.item-explore {
  display: flex;
  text-align: center;
  align-items: center;
  width: 287px;
  margin-bottom: 52px;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  color: var(--primary-escuro);
}
.item-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--primary-claro);
  width: 171px;
  height: 55px;
  border-radius: 8px;
  margin-bottom: 206px;
}
.item-shop span {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  color: var(--secondary-cinza);
}
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.category-explore h1 {
  display: flex;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 28px;
  max-width: 288px;
  line-height: 42px;
  font-weight: bold;
  color: var(--primary-escuro);
  margin-bottom: 36px;
}
.category-input-lupa {
  display: flex;
  max-width: 288px;
}
.category-input {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 216px;
  height: 55px;
  margin-bottom: 60px;
  background: var(--secondary-rosa);
}
.category-input input {
  background: transparent;
  border: none;
}
.category-input input::placeholder {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 23px;
  padding: 0px 0px 0px 30px;
  font-weight: normal;
  color: var(--border-primary);
}
.category-input img {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}
.category-input-lupa {
  display: flex;
  gap: 20px;
}
.category-lupa img {
  width: 30px;
  height: 22px;
  margin-top: 16px;
}
.block-bedroom div:first-child {
  background: #adadad;
  margin-bottom: 20px;
  width: 288px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.block-bedroom div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  width: 288px;
  height: 201px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.block-bedroom-explore h1 {
  color: var(--secondary-orange);
  width: 149px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: normal;
}
.block-bedroom h2 {
  color: #fdfbf8;
  width: 235px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: normal;
}
.block-bedroom-explore span {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: #e0eff6;
  color: var(--primary-escuro);
  width: 150px;
  height: 53px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: normal;
}
.block-meeting div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #d9d9d9;
  width: 288px;
  height: 201px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.block-meeting div:first-child {
  background: #d9d9d9;
  margin-bottom: 20px;
  width: 288px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}
.block-meeting h1 {
  color: var(--secondary-orange);
  width: 235px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: normal;
}
.block-living div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #d9d9d9;
  width: 288px;
  height: 201px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.block-living div:first-child {
  background: #d9d9d9;
  margin-bottom: 20px;
  width: 288px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}
.block-living h1 {
  color: var(--secondary-orange);
  width: 235px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: normal;
}
.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 52px;
  width: 292px;
  color: var(--primary-escuro);
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 42px;
  font-weight: bold;
}
.products-img {
  margin-top: 60px;
  margin-left: 26px;
  height: 340px;
}
.products-regua {
  display: flex;
  margin-top: 60px;
}
.products-regua-cinza {
  background: #70908b;
  width: 80px;
  height: 6px;
}
.products-regua-blue {
  background: var(--primary-claro);
  width: 213px;
  height: 1px;
}
.products-all {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #70908b;
  margin-left: 30px;
  width: 293px;
  height: 73px;
  gap: 10px;
  margin-top: 60px;
}
.products-all h1 {
  color: #ffffff;
  width: 150px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
}
.products-all img {
  width: 15px;
  height: 25px;
}
.package-title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 80px 0px 60px 40px;
  width: 206px;
  color: var(--primary-escuro);
  font-family: "Playfair Display";
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
}
.package-subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px 0px 20px 12px;
  width: 288px;
  color: var(--primary-escuro);
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
}
.package-vetor {
  display: flex;
  margin: 0px 0px 30px 40px;
}
.package-number {
  display: flex;
  margin: 0px 0px 30px 40px;
  width: 288px;
  color: var(--primary-escuro);
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
}
.package-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #70908b;
  margin: 0px 0px 30px 40px;
  width: 178px;
  border-radius: 8px;
  height: 58px;
}
.package-add h1 {
  display: flex;
  cursor: pointer;
  width: 83px;
  color: var(--secondary-orange);
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}
.package-add img {
  width: 22px;
  color: #ffffff;
  height: 21px;
}
.package-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 280px;
  background: #d9d9d9;
  margin: 0px 0px 30px 17px;
}
.package-description span {
  color: var(--primary-escuro);
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  margin: 0px 0px 30px 20px;
}
.package-description p {
  color: var(--primary-escuro);
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 23px;
  font-weight: 200;
  margin: 30px 20px;
}
.package-regua {
  display: block;
  margin: 60px auto;
  background: var(--primary-escuro);
  width: 288px;
  height: 2px;
}
.creation {
  display: flex;
  padding: 30px 0px;
  justify-content: space-between;
}
.creation-more {
  width: 195px;
  height: 311px;
  margin-top: 15px;
  background: #70908b;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.creation-more h1 {
  width: 163px;
  padding: 50px 16px 16px 16px;
  color: #fdfbf8;
  font-family: "Playfair Display";
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
  /* margin: 0px 0px 30px 20px; */
}
.creation-more h2 {
  padding: 0px 16px;
  width: 193px;
  color: var(--secondary-orange);
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 28px;
  font-weight: regular;
}
.creation-more h3 {
  width: 43px;
  padding: 32px 16px;
  color: var(--secondary-orange);
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
}
.creation-btn {
  height: 343px;
  width: 80px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background: #d9d9d9;
}
.creation-btn-exp {
  height: 43px;
  width: 40px;
  padding: 10px 30px 0px 20px;
  margin: 250px 0px 0px 30px;
  background: #ffffff;
}
.creation-btn-exp h1 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
}
.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  background: #e0eff6;
}
.benefits h1 {
  font-family: "Playfair Display";
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-escuro);
  width: 288px;
  margin-bottom: 104px;
}
.benefits-items img {
  width: 108px;
  height: 108px;
  background: white;
  padding: 15px;
}
.benefits-items h2 {
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-escuro);
  width: 288px;
  margin: 30px;
}
.benefits-items h3 {
  font-family: "Opens Sans";
  font-size: 18px;
  font-weight: normal;
  color: var(--primary-escuro);
  width: 288px;
  margin: 30px;
}
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
  padding: 80px 16px 100px 16px;
}
.testimonials-title {
  margin-bottom: 100px;
}
.testimonials-title h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: bold;
  color: var(--primary-escuro);
  width: 215px;
}
.testimonials-title span {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: var(--primary-escuro);
  width: 288px;
}
.testimonials-img {
  background: #d9d9d9;
  width: 288px;
  height: 273px;
  border-radius: 6px;
  margin-bottom: 50px;
}
.testimonials-bg span {
  display: flex;
  font-family: "Open Sans";
  text-align: start;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: var(--primary-escuro);
  width: 288px;
}
.testimonials-bg h1 {
  display: flex;
  margin-top: 24px;
  font-family: "Roboto";
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-escuro);
  width: 148px;
}
.testimonials-regua {
  display: flex;
  margin-top: 60px;
}
.testimonials-regua-cinza {
  background: #70908b;
  width: 80px;
  height: 6px;
}
.testimonials-regua-blue {
  background: var(--primary-claro);
  width: 213px;
  height: 1px;
}
.newsletter {
  margin-top: 80px;
}
.newsletter-img {
  background: #d9d9d9;
  width: 320px;
  height: 280px;
}
.newsletter-join h1 {
  font-family: "Play Display";
  font-size: 36px;
  line-height: 52px;
  font-weight: normal;
  margin-top: 48px;
  text-align: center;
  color: var(--primary-escuro);
  width: 288px;
}
.newsletter-join span {
  font-weight: bold;
}
.newsletter-join h2 {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  margin: 16px 0px 16px 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--primary-escuro);
  width: 290px;
}
.newsletter-input {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 30px 0px;
}
.newsletter-input input {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--primary-escuro);
}
.newsletter-input input::placeholder {
  color: #c4c4c4;
  font-family: "Roboto";
  padding-left: 90px;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  width: 130px;
}
.newsletter-button {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  margin: 0 auto;
  width: 250px;
  height: 68px;
  background: #70908b;
  margin-bottom: 48px;
}
.newsletter-button button {
  display: flex;
  cursor: pointer;
  border: none;
  color: #fdfbf8;
  background: transparent;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 107px;
}
.footer-info-img {
  margin: 80px 0px 20px 10px;
}
.footer-info-img img {
  display: block;
  max-width: 100%;
}
.footer-info-rede ul {
  display: flex;
  justify-content: space-evenly;
}
.footer-info-rede li a {
  display: flex;
  width: 36px;
  height: 36px;
}
.footer-info-address {
  display: flex;
  flex-direction: column;
  padding: 21px 16px;
}
.footer-info-address h1 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 16px;
  color: var(--primary-escuro);
}
.footer-info-address span {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 16px;
  color: var(--primary-escuro);
}
.footer-accounts {
  display: flex;
  margin: 100px 0px;
}
.footer-accounts-account {
  display: flex;
  flex-direction: column;
  padding: 21px 16px;
}
.footer-accounts-account h1 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: var(--primary-escuro);
}
.footer-accounts-account span {
  font-family: "Open Sans";
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 16px;
  color: var(--primary-escuro);
}
.footer-accounts-help {
  display: flex;
  flex-direction: column;
  padding: 21px 16px 21px 32px;
}
.footer-accounts-help h1 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: var(--primary-escuro);
}
.footer-accounts-help span {
  font-family: "Open Sans";
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 16px;
  color: var(--primary-escuro);
}
.footer-delivery {
  display: flex;
  margin: 100px 0px 69px 0px;
}
.footer-delivery-shop {
  display: flex;
  flex-direction: column;
  padding: 21px 16px;
}
.footer-delivery-shop h1 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: var(--primary-escuro);
}
.footer-delivery-shop span {
  font-family: "Open Sans";
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 16px;
  color: var(--primary-escuro);
}
.footer-delivery-stuff {
  display: flex;
  flex-direction: column;
  padding: 21px 16px 21px 32px;
}
.footer-delivery-stuff h1 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: var(--primary-escuro);
}
.footer-delivery-stuff span {
  font-family: "Open Sans";
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 16px;
  color: var(--primary-escuro);
}
.footer-copyright a {
  text-decoration: none;
  color: var(--primary-escuro);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0%;
  margin-bottom: 16px;
  color: var(--primary-escuro);
}
.footer-copyright h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--primary-escuro);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0%;
  margin-bottom: 16px;
  color: var(--primary-escuro);
}
@media (min-width: 321px) and (max-width: 768px) {
  body {
    width: 100%;
  }
  .container {
    max-width: 768px;
    width: 100%;
  }
  .header-desktop {
    display: flex;
    gap: 200px;
    /* justify-content: space-between; */
    flex-direction: row-reverse;
  }
  .title img {
    width: 144px;
  }
  .menu img {
    width: 31px;
  }
  .list ul {
    gap: 40px;
  }
  .list img {
    width: 28px;
  }
  .item-exclusive {
    display: flex;
    text-align: start;
    align-items: start;
    width: 908px;
    margin-top: 176px;
    font-size: 62px;
    line-height: 62px;
    margin-bottom: 16px;
  }
  .item-explore {
    display: flex;
    text-align: start;
    align-items: start;
    width: 539px;
    font-size: 24px;
    line-height: auto;
    font-weight: normal;
  }
}
