* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --primary-claro: #70908b;
  --primary-escuro: #07484a;
  --secondary-verde: #caf3e5;
  --secondary-cinza: #e0eff6;
  --secondary-rosa: #eeebff;
  --secondary-amarelo: #fff4e7;
  --secondary-orange: #fdfbf8;
}
body {
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 320px;
  background: var(--secondary-rosa);
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.title img {
  width: 140px;
}
.list li {
  list-style: none;
  cursor: pointer;
}
.list ul {
  display: flex;
  gap: 20px;
}
.list img {
  width: 21px;
}
.itens-container {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-exclusive {
  display: flex;
  text-align: center;
  align-items: center;
  width: 288px;
  margin-top: 206px;
  font-family: "Playfair Display";
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  color: var(--primary-escuro);
}
.item-explore {
  display: flex;
  text-align: center;
  align-items: center;
  width: 287px;
  margin-bottom: 52px;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  color: var(--primary-escuro);
}
.item-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--primary-claro);
  width: 171px;
  height: 55px;
  border-radius: 8px;
  margin-bottom: 206px;
}
.item-shop span {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  color: var(--secondary-cinza);
}
